<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="greengineering.ProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="greengineering.natures.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="Greengineering.category.wizards"
            name="Greengineering">
      </category>
      <wizard
            category="Greengineering.category.wizards"
            class="greengineering.wizards.NewProjectWizard"
            icon="icons/green.png"
            id="Greengineering.wizard.new.custom"
            name="Greengineering Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="Greengineering.menus.sampleMenu"
               label="Greengineering"
               mnemonic="M">
            <command
                  commandId="Greengineering.commands.sampleCommand"
                  id="Greengineering.menus.sampleCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="Greengineering.commands.sampleCommand2"
                  id="Greengineering.menus.sampleCommand2"
                  mnemonic="S">
            </command>
            <command
                  commandId="Greengineering.commands.sampleCommand3"
                  id="Greengineering.menus.sampleCommand3"
                  mnemonic="S">
            </command>
            <menu
                  id="Greengineering.menu.appBS"
                  label="Apply Bad Smell"
                  mnemonic="M1">
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Greengineering.toolbars.sampleToolbar">
            <command
                  commandId="Greengineering.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="Greengineering.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Greengineering.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="Greengineering.commands.category"
            defaultHandler="domain.menuHandlers.LegacyHandler"
            id="Greengineering.commands.sampleCommand"
            name="Import legacy system">
      </command>
      <command
            categoryId="Greengineering.commands.category2"
            defaultHandler="domain.menuHandlers.KDMHandler"
            id="Greengineering.commands.sampleCommand2"
            name="Extract KDM Model">
      </command>
      <category
            id="Greengineering.commands.category2"
            name="Sample Category 2">
      </category>
      <category
            id="Greengineering.commands.category3"
            name="Sample Category 3">
      </category>
      <command
            categoryId="Greengineering.commands.category3"
            defaultHandler="domain.menuHandlers.BSListHandler"
            id="Greengineering.commands.sampleCommand3"
            name="Manage BS List">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="domain.menuHandlers.BadSmellHandler"
            commandId="Greengineering.commands.sampleCommand1">
      </handler>
      <handler
            class="domain.menuHandlers.KDMHandler"
            commandId="Greengineering.commands.sampleCommand2">
      </handler>
      <handler
            class="domain.menuHandlers.BSListHandler"
            commandId="Greengineering.commands.sampleCommand3">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Greengineering.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="Greengineering.commands.sampleCommand1"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
      <key
            commandId="Greengineering.commands.sampleCommand2"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8">
      </key>
      <key
            commandId="Greengineering.commands.sampleCommand3"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+9">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="greengineering.views.BSList"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Greengineering 1.0">
         <property
               name="appName"
               value="Greengineering 1.0">
         </property>
      </product>
   </extension>

</plugin>
